body {
    background-color: #F5E1FD;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.heading {
    font-size: 42px;
}

.task-input:focus {
    border-color: #CE9DD9;
    box-shadow: 0 0 0 0.15rem #CE9DD9;
}

.add-button {
    opacity: 0.6;
    pointer-events: none;
}

.add-button.active {
    opacity: 0.9;
    pointer-events: auto;
}

.tasks-pending {
    background-color: #B399D4;
}

.tasks-completed {
    background-color: #CE9DD9;
}

.task-list li {
    background-color: #F5E1FD;
    border-radius: 10px;
    font-size: 22px;
}

.task-list li i:first-of-type {
    font-size: 22px;
}

.task-list li i:last-of-type {
    font-size: 26px;
}

.task-details {
    font-size: 22px;
}

.completed {
    text-decoration: line-through;
}